ul{
    list-style-type: none;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    background: aliceblue;
    overflow: hidden;
}
li {
    text-align: center;
    border: solid black;
    border-right: none;
    float: left;
}
li:last-child {
    border-right: solid black;
}
li a{
    display: block;
    color: green;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background: grey;
    color: white;
}
li a:active{
    background: green;
    color: white;
}
