ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    background: aliceblue;
    position: fixed;
    overflow: auto;
}
li {
    text-align: center;
    border: solid black;
    border-bottom: none;
}
li:last-child {
    border-bottom: solid black;
}
li a{
    display: block;
    color: green;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background: grey;
    color: white;
}
li a:active{
    background: green;
    color: white;
}
